<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" name="arrow-back"></ion-icon>
    <ion-title>Formulário de Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formularioItem">
    <ion-item>
      <ion-input formControlName="nome" placeholder="Nome" type="text" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select placeholder="Selecione um" formControlName="categoria">
        <ion-select-option *ngFor="let categoria of categorias" value="{{categoria.nome}}">{{categoria.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="descricao" placeholder="Descricao" name="descricao"></ion-textarea>
    </ion-item>
    <ion-button expand="full" shape="round" type="submit" (click)="salvaItem()" block>Salvar</ion-button>
  </form>
</ion-content>
