<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Itens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content ionScroll>

  <ion-list>
    <ion-item *ngFor="let item of itens; let i = index">
      <ion-label (click)="atualizaItem(item,i)">
        {{item.nome}} - {{item.categoria.nome}}
      </ion-label>
      <ion-icon name="trash" item-right (click)="deletaItem(i)"></ion-icon>
    </ion-item>
  </ion-list>
	</ion-content>
  <ion-fab class="floatingButton">
    <ion-fab-button routerLink="/form"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
